
.navbar{
  margin-bottom: 3%;
  padding: 0 0 4.5rem;
  margin-left: -50px;
  margin-right: -50px;
}

.navbar-brand{
  font-size: 25px;
}

.nav-item{
  padding: 0 18px;
}

.col-md-6{
color: white;
}

.title1 {
  background-image: url("blackscreen.jpeg");
  background-size: cover;
}

 .col-md-6 .title-image{
  margin-left: -5%;
}
.title-matter{
  font-weight: lighter;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 1%;
  margin-right: 6%;
  margin-bottom: 5%;
}

.container-fluid{
  padding: 3% 10%;
}

.row{
  padding-top: 3%;
}

.cards{
  /* border:2px solid; */
  text-align: center;
  padding-bottom: 50%;
  margin: 35px;
}
.type-image{
  margin-top: 3%;
  width: 80%;
}
.type-matter{
  font-size: 20px;
  font-weight: bold;
  color: black;
}
